<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<%= link_to "Sort by Rating", rating_movies_path %>
<%= link_to "Sort by Release Date", release_movies_path %>


<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
